<div class="row login">
  <div class="col-md-6 mx-auto mt-2">
      <h1 class="text-white text-center"><p>This is a simple web app!</p>
      <p>Where user can <a href="register">register</a>, <a href="login">login</a>, view and update their data.</p>
      <p>Built With: Nodejs and MySql with the following main packages;
        <ul>
          <li>Frontend: Bootstrap</li>
          <li>Template Engine: Express Handlebars</li>
          <li>Authentication: Passportjs</li>
        </ul>
      </p></h1>
    </div>
  </div>
</div>